body{
    background-color: antiquewhite;
    text-align: center;
}
.matematica{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: transparent;
    justify-content: center;
}
.matematica input{
    margin: 1vh;
}
.botao:hover {
	cursor: pointer;
}
.nada{
    background-color: transparent;
}